<!doctype html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-68813331-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-68813331-3');
        gtag('page', 'home');
    </script>

    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
    <meta name="author" content="Belvi">
    <meta name="theme-color" content="#000000"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="ZkKTisOdLv2mCzbaC0LlRW6ZRaRXuoR3xghgLHFiNas"/>
    <link rel="manifest" href="/manifest.json"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.4.85/css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700" type="text/css">

    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="static/css/app.css" type="text/css">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,900&amp;subset=latin-ext" rel="stylesheet">
    <title>Belvi Nosakhare</title>
    <!-- Font Awesome -->
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">

    <style type="text/css">
        body {
            background-color: #111 !important;
            /*background: url('static/img/bg.jpg') no-repeat center center;*/
            background-size: cover;
        }

        header {
            background-color: transparent !important;
        }
    </style>

</head>

<body>

<section class="wrapper">
    <div class="profile-background"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center full-height">
            <div class="col-md-8 contents">
                <h1 id="name">Belvi Nosakhare</h1>
                <h3 id="title">Software Developer</h3>
                <div id="about-panel">
                    <div class="markdown">
                        <p>Developers are users too. Build DevTools with care (DX).</p>
                        <span><a target="_blank"
                                 href="https://twitter.com/search?lang=en&q=(%23AndroidStudioHints%20OR%20%23AndroidStudioTrivia)%20(from%3Akingsmentor)&src=typed_query">#AndroidStudioHints</a></span>
                    </div>
                    <div class="doubleable">
                        <div class="profile-section">
                            <p class="profile-head">Location</p>
                            <div class="profile-content">
                                <a class="profile-location" target="_blank" rel="noopener noreferrer"
                                   title="Toronto,Canada"
                                   href="https://www.google.com/maps/search/Toronto,Canada">Toronto,Canada</a>
                            </div>
                        </div>
                        <div class="profile-section">
                            <p class="profile-head">Work</p>
                            <div class="profile-content">
                                <a target="_blank" rel="noopener noreferrer" title="Nextdoor"
                                   href="https://nextdoor.com/">Nextdoor</a>
                            </div>
                        </div>
                    </div>
                    <div class="profile-section mt-4">
                        <p class="profile-head">Skills</p>
                        <div class="profile-content" id="skills"><span class="label label-default">java</span><span
                                class="label label-default">kotlin</span><span
                                class="label label-default">android</span><span
                                class="label label-default">python</span><span
                                class="label label-default">nodejs</span><span class="label label-default">Google
                                    App Script</span><span class="label label-default">Google App Engine</span><span
                                class="label label-default">swift</span><span
                                class="label label-default">iOS</span><span
                                class="label label-default">flutter</span><span class="label label-default">Google
                                    Cloud Platform</span></div>
                    </div>
                    <header>
                        <ul class="list-inline">
                            <li><a href="/blog"><span>read</span>Blog</a></li>
                            <li><a href="/presentations"><span>watch</span>Presentations</a></li>
                            <li><a href="/experiments"><span>try</span>Experiments</a></li>
                        </ul>
                    </header>

                    <div class="social-block">
                        <div class="social-wrapper"><a target="_blank" rel="noopener noreferrer"
                                                       href="mailto:nosakharebelvi@gmail.com"><span
                                class="far fa-envelope"
                                aria-hidden="true"></span></a><a target="_blank" rel="noopener noreferrer"
                                                                 href="https://www.twitter.com/kingsmentor"><span
                                class="fab fa-twitter"
                                aria-hidden="true"></span></a><a target="_blank" rel="noopener noreferrer"
                                                                 href="https://www.linkedin.com/in/belvi"><span
                                class="fab fa-linkedin-in"
                                aria-hidden="true"></span></a><a
                                target="_blank" rel="noopener noreferrer"
                                href="https://www.github.com/kingsmentor"><span class="fab fa-github"
                                                                                aria-hidden="true"></span></a><a
                                id="cv-btn-profile" target="_blank"
                                rel="noopener noreferrer"
                                href="{{cv}}"><span>CV</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>